/*Estilos Gerais*/
*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --background: #5b4a76;
    --fontColor: #09fe05;
    --fontColorText: #fff;
}
html{
    scroll-behavior: smooth;
}

.limita-largura{
    max-width: 1024px;
    margin: 0 auto;
}

/*Estilo do Topo e Barra de Navegação*/
.topo{
    background-color: var(--background);
}
.topo-logo a{
    color: var(--fontColorText);
}
.topo-logo span{
    color: var(--fontColor);
    font-weight: bold;
}
.topo, .topo ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.topo a{
    text-decoration: none;
    padding: 10px;
}
.topo-nav ul li{
    list-style: none;
}
.topo-nav ul li a{
    color: var(--fontColor);
    border-radius: 5px;
    border: none;
}
.topo-nav ul li a:hover{
    background-color: #09fe05;
    box-shadow: 0 0 5px var(--fontColor);
    color: var(--background);
    transition: ease-in-out .2s;
}

/*Estilo da Capa e do Texto da Capa*/
.destaque{
    background-color: var(--background);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destaque-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.destaque-img img{
    width: 100%;
}



