*{
    font-family: 'poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
}

.top-general{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    margin: 0 auto;
    position: fixed;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.286);
}

.top-general a{
    text-decoration: none;
    color: #fff;
}

.top-logo span{
    color: red;
}

.top-nav a{
    margin: 0 10px;
    padding: 5px;
    font-weight: bold;
}

.top-nav a:hover{
    border-bottom: 2px solid red;
}

.top-social-media{
    display: flex;
}

.top-social-media img{
    width: 40px;
    margin: 5px;
}